body {
  font-family: Raleway, sans-serif;

  background-color: hsl(229, 57%, 11%);
  background-image: url("images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100% 50%;

  margin: 0;
}


.fylo-wrapper {
  width: 100%;
  max-width: 920px;
  padding: 0 24px;
  margin-top: 80px;
}


.bg-secondary {
  background-color: hsl(228, 56%, 26%) !important;
}


.left-card {
  width: 350px;
  padding: 40px !important;
  border-radius: 10px 100px 10px 10px;
}


.icon-box {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(229, 57%, 11%);
  border-radius: 10px;
}


.storage-card {
  width: 540px;
  padding: 36px;
  border-radius: 10px;
}


.progress {
  background-color: hsl(229, 57%, 11%);
  padding: 3px;
  border-radius: 999px;
  overflow: visible;
}


.progress-bar {
  border-radius: 999px;
  background: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  position: relative;
}


.progress-dot {
  position: absolute;
  right: 4px;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
}


.gb-left {
  position: absolute;
  top: -45px;
  right: 40px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.gb-left::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-top: 18px solid #fff;
}


@media (max-width: 768px) {
  body {
    background-image: url("images/bg-mobile.png");
    background-size: cover;
    background-position: center;
  }

  .left-card,
  .storage-card {
    width: 100%;
    max-width: 420px;
  }

  .gb-left{
  top: auto;
  bottom: -35px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.gb-left::after{
  display: none;
}
}
